{%macro camera_card(name="Camera", data=0, image='') %}
<div class="device-card">
      <div class="device-card-header">Camera Test Live</div>
      <div class="device-card-image">image2</div>
      <div class="device-card-footer">data</div>
</div>
{%endmacro%}